.custom-loader {
    --d:80px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #146ee3;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: s3 1s infinite steps(8);
    
    position: fixed;
    top: 50%;
    left: 50%;

  }


  @keyframes s3 {
    100% {transform: rotate(1turn)}
  }


  .spiner {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
  }